<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
  <div class="page">
    <div class="header-container">
      <a href="{{ url_for('showCatalog') }}"><h1 class="main-header">Catalog App</h1></a>

      <div class="session-status">
        {% if 'username' not in session: %}
          <div class="login-logout">
            <a href="{{ url_for('showLogin') }}">Login</a>
          </div>
        {% else %}
          <div class="welcome">
            <p>Hello, {{ session.username }}</p>
          </div>
          <div class="login-logout">
            <a href="{{ url_for('gdisconnect') }}">Logout</a>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="flash">
      <!--MESSAGE FLASHING-->
      {% with messages = get_flashed_messages() %}
        {% if messages %}

          <ul>
          {% for message in messages %}
            <li><strong>{{message}}</strong></li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>

    <div class="page-info">
      <div class="public page-links">
        <a class="new-item" href="{{ url_for('newCategory') }}">Add New Category</a>
      </div>

      <div class = "page-content">
        <div class = "category-sidebar">
          <h2>Categories</h2>
          {%for c in categories%}

            <a href="{{ url_for('showCategory', category_name=c.name) }}"><h2>{{ c.name }}</h2></a>

          {%endfor%}
        </div>

        <!-- <div class="vl"></div> -->

        <div class="items-column">
          <h2>Latest Items</h2>
          <div class="items-list">
            {% for i in items %}

              <a href="{{ url_for('showItem', category_name = i.category.name, item_name=i.name)}}">{{ i.name }} ({{ i.category.name }})</a>

            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- Most recently added items go here -->
  </div>
</body>

</html>
