<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
  <div class="page">
    <div class="header-container">
      <a href="{{ url_for('showCatalog') }}"><h1 class="main-header">Catalog App</h1></a>

      <div class="session-status">
        {% if 'username' not in session: %}
          <div class="login-logout">
            <a href="{{ url_for('showLogin') }}">Login</a>
          </div>
        {% else %}
          <div class="welcome">
            <p>Hello, {{ session.username }}</p>
          </div>
          <div class="login-logout">
            <a href="{{ url_for('gdisconnect') }}">Logout</a>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="flash">
      <!--MESSAGE FLASHING-->
      {% with messages = get_flashed_messages() %}
        {% if messages %}

          <ul>
          {% for message in messages %}
            <li><strong>{{message}}</strong></li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>

    <div class="page-info">
      <div class="page-links">
        <a class="new-item" href="{{ url_for('newItem', category_name = category.name) }}">Add New Item</a>

        <a class="main-menu" href="{{ url_for('showCatalog') }}">Main Menu</a>
      </div>

      <div class = "page-content">
        <div class = "category-sidebar">
          <h2>Categories</h2>
          {%for c in categories%}

            <a href="{{ url_for('showCategory', category_name=c.name) }}"><h2>{{ c.name }}</h2></a>

          {%endfor%}
        </div>

        <!-- <div class="vl"></div> -->

        <div class="items-column">
          <div class="item-header">
            <h2>{{ category.name }} Items</h2>
          </div>

          <div class="items-list">
            {%if items.count() != 0: %}
              {% for i in items %}
                <!-- items belonging to this category go here -->
                <a href=" {{url_for('showItem', category_name=category.name, item_name=i.name)}}">{{ i.name }}</a>
              {% endfor %}
            {%else%}
              <p>No items in this category. Click Add New Item above to add your first item.</p>
            {%endif%}
          </div>
        </div>

      </div>

      <div class="item-footer">
        <a href="{{ url_for('deleteCategory', category_name=category.name) }}">Delete Category</a>
      </div>
    </div>
  </div>
</body>

</html>
