<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
  <div class="page">
    <div class="header-container">
      <a href="{{ url_for('showCatalog') }}"><h1 class="main-header">Catalog App</h1></a>

      <div class="session-status">
        {% if 'username' not in session: %}
          <div class="login-logout">
            <a href="{{ url_for('showLogin') }}">Login</a>
          </div>
        {% else %}
          <div class="welcome">
            <p>Hello, {{ session.username }}</p>
          </div>
          <div class="login-logout">
            <a href="{{ url_for('gdisconnect') }}">Logout</a>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="flash">
      <!--MESSAGE FLASHING-->
      {% with messages = get_flashed_messages() %}
        {% if messages %}

          <ul>
          {% for message in messages %}
            <li><strong>{{message}}</strong></li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
    
    <div class="page-info">
      <div class="item-info">
        <div class="item-header">
          <h2>{{ item.name }}</h2>
        </div>

        <div class="item-description">
          {{ item.description }}
        </div>
      </div>

      <div class="item-footer">
        <a href="{{ url_for('showCategory', category_name=category.name) }}">Back</a>
      </div>
    </div>
    <!-- If logged in display edit and delete -->
</div>
</body>

</html>
